*, *::before, *::after {
  box-sizing: border-box; }

/* Global */

body {
	margin: 20px 30px;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Cormorant Garamond', serif;
}

/* Header */

.subtitle {
	font-weight: normal;
	font-style: italic;
}

/*Section Main*/

span {
	font-style: italic;
}
